@import url('https://fonts.googleapis.com/css2?family=Karla&family=Lato&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif
}


@tailwind base;
@tailwind components;
@tailwind utilities;